absl-py==0.12.0
actionlib==1.12.1
aenum==3.0.0
alabaster==0.7.12
angles==1.9.12
argon2-cffi==20.1.0
astor==0.8.1
async-generator==1.10
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
bleach==3.3.0
bondpy==1.8.5
braceexpand==0.1.6
cached-property==1.5.2
cachetools==4.2.1
camera-calibration==1.15.0
camera-calibration-parsers==1.11.13
catkin==0.7.29
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
commonmark==0.9.1
configparser==5.0.2
controller-manager==0.18.3
controller-manager-msgs==0.18.3
cv-bridge==1.13.0
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
docker-pycreds==0.4.0
docutils==0.17
dynamic-reconfigure==1.6.3
entrypoints==0.3
filelock==3.0.12
future==0.18.2
gast==0.4.0
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.16
-e git+https://github.com/ASzot/iGibson.git@6011403cd286091721c4304504b602135c4461af#egg=gibson2
gitdb==4.0.7
GitPython==3.1.14
google-auth==1.28.0
google-auth-oauthlib==0.4.4
GPUtil==1.4.0
grpcio==1.37.0rc1
gym==0.18.0
h5py==3.1.0
-e git+git@github.com:yashkant/habitat-lab-fork.git@a8dd6a1e4ce7be7a4d46a3ce679dd997b8000de9#egg=habitat&subdirectory=../../habitat-lab
habitat-sim==0.1.7
huggingface-hub==0.0.8
idna==2.10
ifcfg==0.21
image-geometry==1.13.0
imageio==2.9.0
imageio-ffmpeg==0.4.3
imagesize==1.2.0
importlib-metadata==3.10.0
iniconfig==1.1.1
interactive-markers==1.11.5
ipdb==0.13.7
ipykernel==5.5.3
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
joint-state-publisher==1.12.15
json-tricks==3.15.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
kdl-parser-py==1.13.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
laser-geometry==1.6.7
libtmux==0.8.5
llvmlite==0.36.0
lmdb==1.1.1
lxml==4.6.3
magnum @ file:///home/kyash/habitat-sim/build/deps/magnum-bindings/src/python
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
message-filters==1.14.11
mistune==0.8.4
mock==4.0.3
moviepy==2.0.0.dev2
msgpack==1.0.2
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.3.0
numba==0.53.1
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1610324545699/work
numpy-quaternion==2021.3.17.16.51.43
oauthlib==3.1.0
objectio==0.2.29
opencv-python==4.5.1.48
ortools==8.2.8710
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickle5==0.0.11
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
plyfile==0.7.3
proglog==0.1.9
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
protobuf==4.0.0rc2
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.0.4
pycparser==2.20
pygame==1.9.6
pyglet==1.5.0
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.3
python-dateutil==2.8.1
python-qt-binding==0.4.3
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.0.3
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
recommonmark==0.7.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
resource-retriever==1.12.6
-e git+https://github.com/ASzot/rl-toolkit.git@f81e09e75df815c6e0e83c89ab3d8660e0d4d406#egg=rl_toolkit&subdirectory=../../rl-toolkit
rosbag==1.14.11
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.11
roslaunch==1.14.11
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.11
rosmake==1.14.9
rosmaster==1.14.11
rosmsg==1.14.11
rosnode==1.14.11
rosparam==1.14.11
rospy==1.14.11
rosservice==1.14.11
rostest==1.14.11
rostopic==1.14.11
rosunit==1.14.9
roswtf==1.14.11
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.10
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.6.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rsa==4.7.2
rviz==1.13.17
sacremoses==0.0.45
scikit-fmm==2021.2.2
scipy==1.5.4
seaborn==0.10.1
Send2Trash==1.5.0
sensor-msgs==1.12.8
sentry-sdk==1.0.0
Shapely==1.7.1
shortuuid==1.0.1
simplejson==3.17.2
six==1.15.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.5
smmap==4.0.0
snowballstemmer==2.1.0
Sphinx==3.5.3
sphinx-markdown-tables==0.0.15
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
subprocess32==3.5.4
tb-nightly==2.5.0a20210404
tensorboard==1.13.1
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
tf==1.12.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
tokenizers==0.10.3
toml==0.10.2
topic-tools==1.14.11
torch==1.8.1
torch-scatter==2.0.6
tornado==6.1
tqdm==4.59.0
traitlets==4.3.3
transformers==4.6.1
transforms3d==0.3.1
trimesh==3.9.10
typer==0.3.2
typing-extensions==3.7.4.3
urdf-parser-py==0.0.3
urdfdom-py==0.4.5
urllib3==1.26.4
wandb==0.10.11
watchdog==2.0.2
wcwidth==0.2.5
webdataset==0.1.40
webencodings==0.5.1
Werkzeug==2.0.0rc3
wiimote==1.14.0
xacro==1.13.11
yacs==0.1.8
zipp==3.4.1
